// Place all the styles related to the champions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.champ-splast-wrapper{
  width: 100%;
  height: 200px;
  position: relative;
  background-position: 25% 25%; 
  background-repeat: no-repeat;
  background-size: 100%;
}

.profile-champion-name{
  color:#E7EDE8;
}
.profile-champion-icon{
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
}
.profile-champion-title{
  color: #D2D4DB;
}
.profile-champion-tags{
  position: relative;
  float: right;
  color: #D2D4DB; 
}